name: Build bootstrap packages and push to cachix
on:
  pull_request:
  push:
  schedule:
    - cron: 0 0 * * 1
jobs:
  cachix:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install nix
        uses: cachix/install-nix-action@v20

      - name: Setup cachix
        uses: cachix/cachix-action@v12
        with:
          name: nix-on-droid
          signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"

      # https://github.com/cachix/cachix/issues/544
      - name: Build proot separately and pin it in cachix
        run: |
          nix \
            --log-format bar-with-logs \
            --show-trace \
            build .#prootTermux \
            --out-link ./proot \
            --impure
          cachix \
            push nix-on-droid $(realpath ./proot)
          cachix \
            pin nix-on-droid proot-${{ github.ref_name }} $(realpath ./proot) \
            --artifact bin/proot-static

      - name: Build bootstrap zip
        run: |
          nix \
            --log-format bar-with-logs \
            --option keep-going true \
            --show-trace \
            build .#bootstrapZip \
            --impure
