name: Run lints
on:
  pull_request:
  push:
  schedule:
    - cron: 0 0 * * 1
jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install nix
        uses: cachix/install-nix-action@v25

      - name: Run nix-formatter-pack-check
        run: nix build .#checks.x86_64-linux.nix-formatter-pack-check
